@charset "UTF-8";
/* CSS Document */

html,body {
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: 0;
	padding:0;
	position: absolute;
}

.rte-rtl, body.rte-rtl * { direction:rtl; } 
.rte-structure blockquote { border:1px dotted #ccc; }
.rte-structure span { outline:1px solid #ccc; }
.rte-structure table { border:1px dotted #aaa; }
.rte-structure caption, .rte-structure td, .rte-structure th { border:1px dotted #ccc; }

.rte-structure p {
	background-image:url(/stylesheets/images/rte/outline-p.png);
	background-repeat:no-repeat;
	background-position:right top;
	border:1px dotted #99ccff;
}

.rte-structure div{
	background-image:url(/stylesheets/images/rte/outline-div.png);
	background-repeat:no-repeat;
	background-position:right top;
	border:1px dotted #aaa;
}
.rte-structure .ui-resizable-handle{
	background:none;
	border:0 none;
}

img { cursor: default; }
img.rte-webkit-hl { outline:1px dashed #777; }

.rtebm { }
.rte-media-x-shockwave-flash,
.rte-media-quicktime,
.rte-media-x-director,
.rte-media-x-mplayer2,
.rte-media-x-pn-realaudio-plugin,
.rte-media-youtube,
.rte-media-rutube,
.rte-media-vimeo,
.rte-yandex-maps,
.rte-google-maps,
.rte-iframe,
.rte-media {
	border:1px solid #ccc;
	background:#eee url(/stylesheets/images/media-flash.png) center center no-repeat;
}

.rte-media-x-shockwave-flash     { background-image:url(/stylesheets/images/rte/media-flash.png); }
.rte-media-youtube               { background-image:url(/stylesheets/images/rte/media-youtube.png); }
.rte-media-vimeo                 { background-image:url(/stylesheets/images/rte/media-vimeo.png); }
.rte-media-rutube                { background-image:url(/stylesheets/images/rte/media-rutube.png); }
.rte-media-quicktime             { background-image:url(/stylesheets/images/rte/media-quicktime.png); }
.rte-media-x-director            { background-image:url(/stylesheets/images/rte/media-director.png); }
.rte-media-x-mplayer2            { background-image:url(/stylesheets/images/rte/media-winmedia.png); }
.rte-media-x-pn-realaudio-plugin { background-image:url(/stylesheets/images/rte/media-realaudio.png); }
.rte-yandex-maps                 { background-image:url(/stylesheets/images/rte/yandex-maps.png); }
.rte-google-maps                 { background-image:url(/stylesheets/images/rte/google-maps.png); display: block; }
.rte-iframe                      { background-image:url(/stylesheets/images/rte/iframe.png); }
